/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body::after {
  content: "";
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */
  background: url(images/blackvase-sm.jpg) bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a69e97;
}
@media (min-width: 768px) {
  .home {
    background-image: url(images/blackvase-lg.jpg);
  }
  @media (min-width: 992px) {
    .home {
      background-image: url(images/blackvase-xl.jpg);
    }
  }

  @media (min-width: 1400px) {
    .home {
      background-image: url(images/blackvase.jpg);
    }
  }
}
